#reset {

    display: flex;
    align-items: center;
    margin: auto;
    padding: 10px;
    font-size: large;
    margin-bottom: 20px;
    margin-top: 20px;

}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 720px;
    max-height: 720px;
    padding: 5px;
    margin: 5px;
    align-items: center;
    justify-items: center;
    align-self: center;
    margin: auto;
}


.grid {
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 0px;
}