#reset {

    display: flex;
    align-items: center;
    margin: auto;
    padding: 10px;
    font-size: large;
    margin-bottom: 20px;
    margin-top: 20px;

}

#container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: grey; */
    width: 785px;
    padding: 5px;
    margin: 5px;
    align-items: center;
    justify-items: center;
    align-self: center;
    margin: auto;
}


.grid {
    align-items: center;
    border: 2px solid black;
    padding: 0px;
    /*  margin: 5px; */
    height: 45px;
    width: 45px;
}